<div class = "jumbotron">
  <h1>{{title1}}</h1>
  <h2>{{title2}}</h2>
</div>


<div class = "jumbotron">
  <table class="table table-dark table-striped">
    <th>Lp.</th>
    <th>Autor</th>
    <th>Zdjęcie autora</th>
    <th>Tytuł</th>
    <th>Nadaje się dla dzieci?</th>

    <tr *ngFor= "let book of books; let i = index"
    [ngSwitch] = "book.title"
    >
      <td>{{i}}</td>
      <td>{{book.author}}</td>
      <td><img src="{{book.link}}"></td>
      <td>{{book.title}}</td>
      <td>
        <span *ngSwitchCase = "'Mapa i terytorium'">Nie nadaje się dla dzieci</span>
        <span *ngSwitchCase = "'Morfina'">Nie nadaje się dla dzieci</span>
        <span *ngSwitchDefault>Nadaje się dla dzieci</span>
      </td>
    </tr>
  </table>
</div>








